.page {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
}
.page-wrapper {
    min-height: 100vh;
    display: flex;
    background: black;
}
.canvas-wrapper {
    position: relative;
}
.back {
    position: absolute;
    height: 100%;
    right: 0px;
}
.next {
    position: absolute;
    height: 100%;
}
.send {
    display: flex;
    align-items: center;
    width: 20px;
    opacity: 0.2;
}
.send:hover {
    opacity: 1;
    cursor: pointer;
}
.slider {
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0px;
    padding-bottom: 33px;
    background: white;
    opacity: 0.9;
}
.info {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
    padding-bottom: 33px;
    background: white;
    opacity: 0.9;
    display: flex;
    padding: 10px;
}
.info-content {
    margin-left: auto;
    padding-right: 30px;
}
.input-bar {
    width: 90%;
    direction: rtl;
    margin-top: 20px;
}
.menu {
    margin-right: 30px;
    cursor: pointer;
}
.info-menu {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    background: rgba(255,255,255,0.9);
    z-index: 2;
    width: 300px;
}
.render-wrapper {
    position: relative;
}